.component {
  display: flex;
  flex-direction: column;
}
.block {
  display: flex;
  flex-direction: column;
}
.big {
  color: red;
  font-size: x-large;
}
.load {
  color: red;
  font-size: x-large;
}
